<% content_for(:title) { "RookieOven dashboard" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_followers" data-view="Number" data-title="RookieOven Twitter Followers" style="background-color: #1d9fe3"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" style="background-color: #1d9fe3">
      <div data-view="TwelveHourClock"></div>
    </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="forecast" data-view="Forecast" data-widget_title="Govan Forecast"> ></div>
     </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="open-tech-calendar" data-view="News" data-title="Glasgow Tech Events" data-interval="30" style="background-color: #1d9fe3">></div>
     </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="my-trello-board" data-view="Trello" data-title="Tenant Trello Board" style="background-color: #0079BF"></div>
       <i class="icon-trello icon-background"></i>
     </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="foursquare_checkins_people" data-view="Number" data-title="People checked in at Fairfield" style="background-color: #0079BF"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="nowplaying" data-view="Text" data-title="NOW PLAYING" data-text="Artist - Track"style="background-color: #0079BF" ></div>
</li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="albumart" data-view="Image" data-title="Album Name" style="background-color: #0079BF"></div>
</li>
  </ul>
</div>
